html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html, body {
  width: 100%;
  height: 100%;
}

html {
  text-rendering: optimizeLegibility;
  font-size: 125%;
}

body {
  font-family: 'Rancho', cursive;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  position: relative;
  text-align: left;
  font-size: clamp(2.5rem, 7vw, 4rem);
  color: #eee;
  text-shadow: -2px -2px 4px rgb(12, 12, 12),
                1px 1px 1px rgba(255, 255, 255, 0.5);
  padding: .5rem;
  display: block;
  width: fit-content;
}

h2 {
  font-size: clamp(2rem, 7vw, 4rem);
  margin-bottom: 1rem;
  text-align: center;
  background-color: #000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin: 1rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset {
  border-radius: 10px;
}

legend {
  text-align: center;
  background-color: #000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

textarea {
  font-family: 'Anek Latin', sans-serif;
  width: 100%;
  margin: 1rem 0;
  padding: .5rem .75rem;
  border-radius: 15px;
  box-shadow: inset .1rem .1rem .2rem rgba(61, 61, 61, .97),
                    .1rem .1rem .1rem white;
  resize: none;
}

[type=text] {
  font-family: 'Anek Latin', sans-serif;
  width: 15rem;
  margin: 1rem 0;
  padding: .5rem .75rem;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: inset .1rem .1rem .2rem rgba(61, 61, 61, .97),
              .1rem .1rem .1rem white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin-bottom: 1rem;
  padding: .5rem;
  width: 12rem;
  display: block;
  border: none;
  font-family: 'Rancho', sans-serif;
  font-size: 1.5rem;
  background-color: hsl(283, 100%, 25%);
  padding: .75rem 1.5rem;
  border-radius: 100vmax;
  box-shadow: .2rem .2rem .3rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%);
  text-shadow: -1px -1px 1px rgb(12, 12, 12);
    transition: background-color .1s ease-out, box-shadow .1s ease-out, transform .1s ease-out;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: hsl(283, 100%, 30%);
  box-shadow: .3rem .3rem .4rem rgba(12, 12, 12),
              inset -.4rem -.4rem .6rem hsl(283, 100%, 10%),
              inset .4rem .4rem .6rem hsl(283, 100%, 80%);
}

button:focus {
  box-shadow: 0 0 0 .25rem hsl(283, 100%, 95%),
              0 0 0 .5rem hsl(283, 100%, 30%),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%);
}

button:active {
  transform: scale(1);
  background-color: hsl(283, 100%, 25%);
  box-shadow: .2rem .2rem .3rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%),
              inset .4rem .4rem .6rem hsl(283, 100%, 10%),
              inset -.4rem -.4rem .6rem hsl(283, 100%, 80%);
}

header {
  width: 100%;
  display: flex;
  padding-inline: 1.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(283, 100%, 20%);
  box-shadow: 0 0 .3rem .3rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .1rem .1rem .2rem hsl(283, 100%, 80%);
}

header p {
  font-size: 1rem;
  font-family: 'Anek Latin', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__link {
  transition: transform .3s ease-out;
}

.header__link:hover {
  transform: scale(1.1);
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__pollId__input {
  border-radius: 15px 15px 0 0;
  width: 12rem;
  margin-bottom: -2px;
}

.welcome__pollId__button {
  border-radius: 2px 2px 25px 25px;
}


/* ================= */
/* CreatePoll Styles */
/* ================= */


.create {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create__button {
  margin-top: 1rem;
}

.slug__container {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slug__text {
  text-align: center;
  font-family: 'Anek Latin', sans-serif;
  font-size: .7rem;
}

.slug__input__container {
  position: relative;
}

.slug__input {
  margin: 0 .5rem;
  padding: 0 .3rem;
  border-radius: 0;
  height: 1.5rem;
  width: 12.3rem;
  font-size: .9rem;
}

.slug__warning {
  position: absolute;
  left: 1.9rem;
  font-family: 'Anek Latin', sans-serif;
  font-size: .7rem;
}

.loading__dots {
  position: absolute;
  top: -.2rem;
  right: 0;
  scale: .6;
  fill: hsl(283, 100%, 50%);
}

.fa-solid {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
}

.fa-check {
  color: green;
}

.fa-xmark {
  color: red;
}

.poll-options {
  font-size: 1.5rem;
  width: 100%;
}

.poll-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  align-self: center
}

.poll-option__input {
  width: 80%;
  margin: .2rem;
}

/* ============== */
/* Results styles */
/* ============== */

.results {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.results__list {
  position: relative;
  padding: 1rem 0 0.5rem;
  width: 100%;
  overflow: hidden;
}

.results__list::before {
  content: '';
  bottom: 0.5rem;
  left: 0;
  width: 16px;
  height: 100%;
  background-color: hsl(0, 0%, 80%);;
  position: absolute;
  z-index: -1;
  transform: skewY(-51deg);
}

.results__list::after {
  content: '';
  bottom: -0.1rem;
  left: 0.34rem;
  width: 101%;
  height: 1.1rem;
  transform: skewX(-39deg);
  background-color: hsl(0, 0%, 40%);;
  position: absolute;
  z-index: -1;
}

.results__list__percentage {
  color: white;
  font-size: 1.1rem;
  position: absolute;
  bottom: .3rem;
  transform: translateX(-50%) skewX(15deg) skewY(-25deg);
  font-family: 'Fredericka the Great', cursive;
}

.results__list__percentage--25 {
  left: 25%;
}

.results__list__percentage--50 {
  left: 50%;
}

.results__list__percentage--75 {
  left: 75%;
}

.results__list__vote-count {
  position: absolute;
  top: .3rem;
  right: .5rem;
  content: '16 votes';
  color: white;
  text-shadow: -1px 1px hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 20%);
}

.results__list__background {
  position: absolute;
  bottom: 1rem;
  left: .8rem;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 20%);
  z-index: -10;
}

.result {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  height: 3rem;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.result__title {
  color: #eee;
  font-size: 1.8rem;
  padding-left: 1rem;
  font-family: 'Fredericka the Great', cursive;
}

.result__title--light {
  color: #eee;
}

.result__bar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  background: hsl(283, 55%, 30%);
  color: #eee;
  height: 100%;
  animation: 1s grow linear forwards;
  white-space: nowrap;
}

.result__bar__flag {
  content: attr(votes);
  position: absolute;
  display: grid;
  top: -1rem;
  left: calc(100% + .7rem);
  align-items: center;
  padding: 0 1rem 0 .5rem;
  background: rgb(243, 46, 46);
  width: fit-content;
  height: 1.5rem;
  color: white;
  z-index: -1;
}

.result__bar__flag::after {
  content: '';
  position: absolute;
  top: .3rem;
  left: 85%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsla(0, 0%, 20%);
  transform: rotate(-67deg) skewX(-45deg);
  z-index: -1;
}

.result__bar__shadow {
  height: 3rem;
  background: hsl(283, 100%, 40%);
  position: absolute;
  left: .8rem;
  bottom: 1rem;
  z-index: -1;
  animation: 1s grow linear forwards;
}

.result__bar__shadow::before {
  content: '';
  position: absolute;
  top: .27rem;
  left: -.55rem;
  width: 1.3rem;
  height: 1.3rem;
  background: linear-gradient(51deg, hsl(283, 100%, 40%) 0 47%, transparent 47% 100%);
  transform: rotate(39deg);
}

.result__bar__shadow::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: calc(100% - 16px);
  background: hsl(283, 100%, 70%);;
  width: .81rem;
  height: 3rem;
  transform: skewY(-51deg);
}

.results__share {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.results__share__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  width: 10rem;
  height: 2.5rem;
}

.results__share__icon {
  position: relative;
  transform: translate(.8rem, -.45rem);
  font-size: 1rem;
}

@keyframes grow {
  0% {
    width: 0%;
  }
}

/* Voting Styles */

.poll {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poll__choice {
  width: 100%;
  max-width: 600px;
}

.poll__choice__label {
  margin-bottom: 1rem;
  padding: .5rem;
  display: block;
  border: none;
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 100vmax;
  background-color: hsl(0, 0%, 24%);
  box-shadow: .2rem .2rem .3rem rgba(12, 12, 12),
  inset -.2rem -.2rem .3rem hsl(0, 0%, 10%),
  inset .2rem .2rem .3rem hsl(0, 0%, 80%);
  transition: background-color .3s ease-out, box-shadow .3s ease-out, transform .3s ease-out;
  cursor: pointer;
  color: white;
  word-break: break-all;
}

.poll__choice__label:hover {
  background-color: hsl(0, 0%, 24%);
  box-shadow: .3rem .3rem .4rem rgba(12, 12, 12),
              inset -.4rem -.4rem .6rem hsl(0, 0%, 10%),
              inset .4rem .4rem .6rem hsl(0, 0%, 80%);
}

.poll__choice__label:focus {
  box-shadow: 0 0 0 .25rem hsl(0, 0%, 95%),
              0 0 0 .5rem hsl(0, 0%, 30%),
              inset -.2rem -.2rem .3rem hsl(0, 0%, 10%),
              inset .2rem .2rem .3rem hsl(0, 0%, 80%);
              outline: none;
}


[type="radio"]:checked ~ .poll__choice__label,
.poll__choice__label:active {
  box-shadow: .2rem .2rem .3rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(0, 0%, 10%),
              inset .2rem .2rem .3rem hsl(0, 0%, 80%),
              inset .4rem .4rem .6rem hsl(0, 0%, 10%),
              inset -.4rem -.4rem .6rem hsl(0, 0%, 80%);
}

.poll__button {
  margin-top: 3rem;
  width: 70%;
  max-width: 500px;
  transition: opacity .3s ease-out, background-color .1s ease-out, box-shadow .1s ease-out, transform .1s ease-out;
}

.poll__button--hidden {
  opacity: 0;
  cursor: initial;
  transform: translateY(2rem);
}

/* ============= */
/* Footer styles */
/* ============= */

footer p, footer span {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

footer a {
  color: rgba(234, 89, 62, 0.7);
}

.footer__text {
  background-color: #000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

@media (max-width: 480px) {
  header {
    justify-content: center;
  }
  header p {
    display: none;
  }
}