html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  text-rendering: optimizeLegibility;
  font-size: 125%;
}

body {
  font-family: 'Rancho', cursive;
  background: url(./wickedbackground.svg) no-repeat center / cover fixed;
  background-color: #DFDBE5;
}

h1, p {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: clamp(1.5rem, 7vw, 3rem);
  box-shadow: 0 0 0.05em 1em rgba(61, 61, 61, 0.1),
              0 0 0.05em .8em rgba(61, 61, 61, 0.25),
              0 0 0.05em .6em rgba(61, 61, 61, 0.4),
              0 0 0.05em .4em rgba(61, 61, 61, 0.65),
              0 0 0.05em .2em rgba(61, 61, 61, .8);
  background-color: rgba(61, 61, 61, .97);
  color: #eee;
  padding: .5rem;
  border-radius: 0rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  font-family: 'Rancho', cursive;
  border: 1px solid black;
  width: 90%;
  margin: 1rem 0;
  padding: .5rem .75rem;
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: inset .1rem .1rem .2rem rgba(61, 61, 61, .97);;
  resize: none;
}

[type=text] {
  font-family: 'Rancho', cursive;
  border: 1px solid black;
  width: 70%;
  margin: 1rem 0;
  padding: .5rem .75rem;
  border-radius: 10px;
  font-size: 1.5rem;
  box-shadow: inset .1rem .1rem .2rem rgba(61, 61, 61, .97);;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin-bottom: 1rem;
  padding: .5rem;
  display: block;
  border: none;
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 1.5rem;
  background-color: hsl(283, 100%, 25%);
  padding: 1rem 1.5rem;
  border-radius: 100vmax;
  box-shadow: .2rem .2rem .3rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%);
  transition: background-color .3s ease-out, box-shadow .3s ease-out, transform .3s ease-out;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: hsl(283, 100%, 30%);
  box-shadow: .4rem .3rem .8rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%);
  transform: scale(1.05);
}

button:focus {
  box-shadow: 0 0 0 .25rem hsl(283, 100%, 95%),
              0 0 0 .5rem hsl(283, 100%, 30%),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%);
}

button:active {
  transform: scale(1);
  box-shadow: .2rem .2rem .3rem rgba(12, 12, 12),
              inset -.2rem -.2rem .3rem hsl(283, 100%, 10%),
              inset .2rem .2rem .3rem hsl(283, 100%, 80%);
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 10vmin;
  font-family: 'Fredericka the Great', cursive;
}

.app {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create__button {
  margin-top: 1rem;
}

.poll-options {
  font-size: 1.5rem;
  width: 100%;
}

.poll-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  align-self: center
}

.poll-option__input {
  width: 80%;
  margin: .5rem;
}