.results {
  width: 100%;
}

.results h2 {
  text-align: center;
  font-size: clamp(1rem, 5vw, 2rem);
}

.results__list__background {
  position: absolute;
  bottom: 1rem;
  left: .8rem;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 20%);
  z-index: -10;
}

.results__list {
  position: relative;
  padding: 1rem 0 0.5rem;
  width: 100%;
  overflow: hidden;
}

.results__list::before {
  content: '';
  bottom: 0.5rem;
  left: 0;
  width: 16px;
  height: 100%;
  background-color: hsl(0, 0%, 80%);;
  position: absolute;
  z-index: -1;
  transform: skewY(-51deg);
  /* opacity: .8; */
}

.results__list::after {
  content: '';
  bottom: -0.1rem;
  left: 0.34rem;
  width: 101%;
  height: 1.1rem;
  transform: skewX(-39deg);
  background-color: hsl(0, 0%, 40%);;
  position: absolute;
  z-index: -1;
  /* opacity: .8; */
}

.results__list__percentage {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  bottom: .5rem;
  transform: translateX(-50%) skewY(-33deg);
  font-family: 'Fredericka the Great', cursive;
}

/* .results__list__percentage::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 105%;
  background-color: black;
  top: -80%;
  left: 50%;
  transform: rotate(60deg);
} */

.results__list__percentage--25 {
  left: 25%;
}

.results__list__percentage--50 {
  left: 50%;
}

.results__list__percentage--75 {
  left: 75%;
}

.result {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  height: 3rem;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.result__title {
  color: #eee;
  font-size: 1.8rem;
  padding-left: 1rem;
  font-family: 'Fredericka the Great', cursive;
}

.result__title--light {
  color: #eee;
}

.result__bar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  background: hsl(283, 55%, 30%);
  color: #eee;
  height: 100%;
  animation: 1s grow linear forwards;
  white-space: nowrap;
  overflow-x: hidden;
}

.result__bar__shadow {
  height: 3rem;
  background: hsl(283, 100%, 40%);
  position: absolute;
  left: .8rem;
  bottom: 1rem;
  z-index: -1;
  animation: 1s grow linear forwards;
}

.result__bar__shadow::before {
  content: '';
  position: absolute;
  top: .27rem;
  left: -.55rem;
  width: 1.3rem;
  height: 1.3rem;
  background: linear-gradient(51deg, hsl(283, 100%, 40%) 0 47%, transparent 47% 100%);
  transform: rotate(39deg);
  /* z-index: -10; */
}

.result__bar__shadow::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: calc(100% - 16px);
  background: hsl(283, 100%, 70%);;
  width: .81rem;
  height: 3rem;
  transform: skewY(-51deg);
}

@keyframes grow {
  0% {
    width: 0%;
  }
}

@keyframes fade-in {
  
  100% {
    opacity: 1;
  }
}

@keyframes skew {

  /* 50%{
    top: 0;
    transform: ;
    left: calc(100%);
  } */

  50% {
    height: 3.5rem;
  }

  100% {
    top: 0;
    left: calc(100%);
    height: 2.96rem;
    transform: skewY(-33deg) rotateY(180deg);
    width: 16px;
  }
}